@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"), url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  src:
    local("Raleway"), url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway"), url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  src:
    local("Raleway"), url("../fonts/Poppins-Black.ttf") format("truetype");
}

:root {
  /* Fonts */
  --primary-Font: "Poppins", sans-serif;

  --paragraph: normal 1.4rem/2 var(--primary-Font);

  --titleOne: 900 3.2rem/1 var(--primary-Font);
  --titleTwo: 900 2.8rem/1.5 var(--primary-Font);
  --titleThree: 900 2.4rem/1.5 var(--primary-Font);

  /* Colors */
  --primary-color: #6834a6;
  --white-color: #ffffff;
  --black-color: #1f1e1e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font: var(--paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: var(--titleOne);
}

h2 {
  font: var(--titleTwo);
}

h3 {
  font: var(--titleThree);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

/* UTILIDADES */

[class$="__container"] {
  width: min(95%, 144rem);
  margin: 0 auto;
}

/* HEADER */
.header {
  background-image: url("../img/header_bg.svg");
  background-size: 40%;
  background-position: right top;
  background-repeat: no-repeat;
}

.header__wrapper {
  padding-block: 5rem;
  display: grid;
  gap: 2rem;
}

.header__barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.header__logo {
  width: 10rem;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.header__copy {
  text-align: center;
}

.header__title {
  max-width: 50rem;
}

.header__btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  display: inline-block;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.header__app {
  width: 25rem;
}

/* MAIN */
.main {
  overflow-y: hidden;
  padding-bottom: 5rem;
}

.main__title {
  text-align: center;
  margin-bottom: 2rem;
}

.main__grid {
  display: grid;
  justify-items: center;
  grid-auto-flow: dense;
  gap: 4rem;
}

.main__app {
  grid-row: 2/3;
  width: 25rem;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comentario {
  padding: 1rem 2rem;
  background-color: var(--white-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
}

.comentario__title {
  text-align: left;
  color: var(--primary-color);
}

/* NUCLEUS */
.seguridad {
  padding-block: 8rem;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  background-color: var(--primary-color);
}

.seguridad__title {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--white-color);
}

.seguridad__grid {
  display: grid;
  justify-items: center;
  grid-auto-flow: dense;
  gap: 4rem;
}

.seguridad__img {
  width: 25rem;
}

/* COMISIONES */
.comisiones {
  padding-top: 5rem;
}

.comisiones__title {
  margin-bottom: 2rem;
  text-align: center;
}

.comisiones__grid {
  display: grid;
  justify-items: center;
  grid-auto-flow: dense;
  gap: 4rem;
}

.comisiones__sub-title {
  font: 900 1.6rem/1 var(--primary-Font);
}

.comision__app {
  grid-row: 2/3;
  width: 25rem;
}

.comentario--flex {
  display: flex;
  align-items: center;
  gap: .8rem;
}

/* TESTIMONIALES */
.testimoniales {
  padding-block: 5rem;
  background-color: var(--primary-color);
}

.testimoniales__title {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--white-color);
}

.testimoniales__grid {
  display: grid;
  gap: 2rem;
}

.testimonial {

  position: relative;
  padding: 2rem;
  background-color: var(--white-color);
}

.testimonial__copy::before {
  position: absolute;
  left: .8rem;
  top: .8rem;
  content: " ";
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  background-image: url("../img/comilla.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.testimoniales__autor {
  font: 900 1.4rem/1 var(--primary-Font);
  color: #5e5e5e;
}

/* FOOTER */
.footer {
  padding: 3rem;
  background-color: #531d93;
}

.footer__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__img {
  width: 15rem;
}

.footer .navegacion__link {
  color: var(--white-color);
}