:root {
  /* Fonts */
  --paragraph: normal 1.6rem/2 var(--primary-Font);

  --titleOne: 900 5rem/1 var(--primary-Font);
  --titleTwo: 900 4rem/1.5 var(--primary-Font);
  --titleThree: 900 2.8rem/1.5 var(--primary-Font);
}

/* HEADER */
.header {
  background-size: 70%;
}

.header__wrapper {
  padding: 4rem 0 2rem;
}

.header__barra {
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.navegacion {
  flex-direction: row;
  gap: 1.6rem;
}

.navegacion__link {
  color: var(--white-color);
}

.header__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.header__copy {
  text-align: left;
}

.header__title {
  max-width: 40rem;
}

.header__app {
  width: 30rem;
  justify-self: center;
}

/* MAIN */
.main__grid {
  grid-template-columns: 30rem 1fr;
  align-items: center;
}

.main__app {
  grid-row: unset;
  width: 30rem;
}

/* NUCLEUS */
.seguridad {
  padding-block: 10rem;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.seguridad__grid {
  grid-template-columns: 1fr 30rem;
  align-items: center;
}

.seguridad__img {
  width: 30rem;
  grid-column: 2/3;
}


/* COMISIONES */
.comisiones__grid {
  grid-template-columns: 1fr 30rem;
  align-items: center;
}

.comisiones__sub-title {
  margin-bottom: 2rem;
  font: 900 1.6rem/1 var(--primary-Font);
}

.comision__app {
  grid-column: 2 /3;
  grid-row: unset;
  width: 30rem;
}

/* TESTIMONIALES */

.testimoniales__grid {
  grid-template-columns: repeat(2, 1fr);
}

.testimonial {
  padding: 4rem;
}

.testimonial__copy::before {
  left: 1.2rem;
  top: 1.2rem;
  width: 3rem;
  height: 3rem;
}