@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Black.ttf") format("truetype");
}

:root {
  /* Fonts */
  --primary-Font: "Poppins", sans-serif;

  --paragraph: normal 1.4rem/2 var(--primary-Font);

  --titleOne: 900 3.2rem/1 var(--primary-Font);
  --titleTwo: 900 2.8rem/1.5 var(--primary-Font);
  --titleThree: 900 2.4rem/1.5 var(--primary-Font);

  /* Colors */
  --primary-color: #6834a6;
  --white-color: #ffffff;
  --black-color: #1f1e1e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font: var(--paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: var(--titleOne);
}

h2 {
  font: var(--titleTwo);
}

h3 {
  font: var(--titleThree);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

/* UTILIDADES */

[class$="__container"] {
  width: min(95%, 144rem);
  margin: 0 auto;
}

/* HEADER */
.header {
  background-image: url("../img/header_bg.svg");
  background-size: 40%;
  background-position: right top;
  background-repeat: no-repeat;
}

.header__wrapper {
  padding-block: 5rem;
  display: grid;
  gap: 2rem;
}

.header__barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.header__logo {
  width: 10rem;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.header__copy {
  text-align: center;
}

.header__title {
  max-width: 50rem;
}

.header__btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  display: inline-block;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.header__app {
  width: 25rem;
}