:root {
  /* Fonts */
  --titleOne: 900 6rem/1 var(--primary-Font);
  --titleTwo: 900 5rem/1.5 var(--primary-Font);
  --titleThree: 900 2.8rem/1.5 var(--primary-Font);
}

/* HEADER */
.header {
  background-size: 60%;
}

@media (min-width: 1440px) {
  .header {
    background-size: 45%;
  }
}

.header__title {
  max-width: 80rem;
}

/* MAIN */
.comentario:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}