@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  src:
    local("Raleway"),
    url("../fonts/Poppins-Black.ttf") format("truetype");
}